<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moyeo.mapper.UserMapper">

    <resultMap id="UserResultMap" type="com.moyeo.VO.UserVO">
        <id property="roomId" column="room_id"/>
        <result property="userName" column="user_nm"/>
        <result property="userImg" column="user_img"/>
        <result property="userColor" column="user_color"/>
    </resultMap>

    <select id="getUserList" resultMap="UserResultMap">
        /*com.moyeo.mapper.UserMapper.getUserList*/
        SELECT RM.ROOM_ID
             , UM.USER_NM
             , UM.USER_IMG
             , UM.USER_COLOR
        FROM ROOM_MAST RM
        JOIN ROOM_USER_MAP RUM
          ON RUM.ROOM_ID = RM.ROOM_ID
        LEFT JOIN USER_MAST UM
          ON UM.USER_ID = RUM.USER_ID
        WHERE RM.ROOM_ID = #{roomId}
    </select>

    <select id="getUserInfo" resultMap="UserResultMap">
        /*com.moyeo.mapper.UserMapper.getUserInfo*/
        SELECT RM.ROOM_ID
             , UM.USER_NM
             , UM.USER_IMG
             , UM.USER_COLOR
        FROM ROOM_MAST RM
                 JOIN ROOM_USER_MAP RUM
                      ON RUM.ROOM_ID = RM.ROOM_ID
                 LEFT JOIN USER_MAST UM
                           ON UM.USER_ID = RUM.USER_ID
        WHERE RM.ROOM_ID = #{roomId}
          AND RUM.USER_ID = #{userId}
    </select>

    <update id="updateUserProfile" parameterType="java.util.Map">
        /*com.moyeo.mapper.UserMapper.updateUserProfile*/
        UPDATE USER_MAST A
          JOIN ROOM_USER_MAP B
            ON B.USER_ID = A.USER_ID
           SET A.USER_NM = #{userName, jdbcType=VARCHAR}
             , A.USER_IMG = #{userImg, jdbcType=INTEGER}
         WHERE B.ROOM_ID = #{roomId}
           AND A.USER_ID = #{userId}
    </update>

    <insert id="insertUserInfo" useGeneratedKeys="true" keyProperty="userId">
        /*com.moyeo.mapper.UserMapper.insertUserInfo*/
        INSERT INTO USER_MAST (
                                USER_NM
                              , USER_IMG
                              , USER_COLOR
        ) VALUES (  #{userName}
                 , #{userImg}
                 , #{userColor}
                 )
    </insert>

</mapper>